@import 'mixins';
/*==========================
* Target: Global, index.vue
* Rule: MindBEMding
* Author: Rapahel-D
* Type: SSG
* Description: Fack me!(female only)
==========================*/
/*==========================
Base & Utility
==========================*/
* {
  box-sizing: border-box;
}
body {
  line-height: 1.6;
}
.heading {
  margin-bottom: $gnum;
}
/*==========================
Layout
==========================*/
.l-container {
  @include mq() {
    display: flex;
    flex-wrap: wrap;
    justfy-content: space-between;
  }

  
}
.l-header,
.l-footer {
  width: 100%;
  padding: $gnum;
  @include mq() {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.l-header {
  background-color: #99f;
  
}
.l-footer {
  background-color: #ff9;
  
}
.l-main {
  padding-top: 48px;
  padding-bottom: 48px;
  // background-color: #9ff;
  width: 100%;
}
.l-main:nth-last-child(3) {
  // l-main's container will to small width for if exist sidebar
  @include mq() {
    width: calc(100% - 300px)
  }
  
}
.l-wrapper {
  padding-right: $gnum;
  padding-left: $gnum;
  max-width: calc(960px - #{$gnum} * 2);
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccc;
}
.l-main:nth-last-child(3) .l-wrapper {
  @include mq() {
    margin-right: $gnum;
  }
}
.l-side {
  background-color: #9f9;
  padding: $gnum;
  @include mq() {
    width: 100%;
    max-width: 300px;
    margin-right: auto;
  }
}

/*==========================
Component
==========================*/
.header__logo {
  font-size: 1.4rem;
  @include mq() {
    font-size: 1.6rem;
  }
}
.nav {
  @include mq() {
    display: flex;
  }
}
.nav__link {
  padding-right: 1em;
  padding-left: 1em;
  display: block;
  margin-right: 1em;
  margin-left: 1em;
}
/*==========================
Modules
==========================*/
.post-list li {
  margin-bottom: calc(#{$gnum} * 2);
}

