/*==========================
* Target: Global, index.vue
* Rule: MindBEMding
* Author: Rapahel-D
* Type: SSG
* Description: Fack me!(female only)
==========================*/
/*==========================
Base & Utility
==========================*/
* {
  box-sizing: border-box; }

body {
  line-height: 1.6; }

.heading {
  margin-bottom: 15px; }

/*==========================
Layout
==========================*/
@media screen and (min-width: 768px) {
  .l-container {
    display: flex;
    flex-wrap: wrap;
    justfy-content: space-between; } }

.l-header,
.l-footer {
  width: 100%;
  padding: 15px; }
  @media screen and (min-width: 768px) {
    .l-header,
    .l-footer {
      display: flex;
      justify-content: space-between;
      align-items: center; } }

.l-header {
  background-color: #99f; }

.l-footer {
  background-color: #ff9; }

.l-main {
  padding-top: 48px;
  padding-bottom: 48px;
  width: 100%; }

@media screen and (min-width: 768px) {
  .l-main:nth-last-child(3) {
    width: calc(100% - 300px); } }

.l-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  max-width: calc(960px - 15px * 2);
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccc; }

@media screen and (min-width: 768px) {
  .l-main:nth-last-child(3) .l-wrapper {
    margin-right: 15px; } }

.l-side {
  background-color: #9f9;
  padding: 15px; }
  @media screen and (min-width: 768px) {
    .l-side {
      width: 100%;
      max-width: 300px;
      margin-right: auto; } }

/*==========================
Component
==========================*/
.header__logo {
  font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    .header__logo {
      font-size: 1.6rem; } }

@media screen and (min-width: 768px) {
  .nav {
    display: flex; } }

.nav__link {
  padding-right: 1em;
  padding-left: 1em;
  display: block;
  margin-right: 1em;
  margin-left: 1em; }

/*==========================
Modules
==========================*/
.post-list li {
  margin-bottom: calc(15px * 2); }

